body{
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.mainbody{
    flex-wrap: nowrap;
    height: 100%;
    display: inline-flex;
    text-align: center;
    position: relative;
    width: 100%;
}
.side {
    
    text-align: center;
    width: 20%;
}



.side ul {
    list-style-type: none;
    padding-left: 0;
}
.side ul li h4{
    margin-top: 30%;
}



.who div img{
    height: 20em;
}

.who div{
    margin: 0;
    flex-wrap: nowrap;
    display: flex;
}

.who div .article{
    text-align: left;
    display: block;
    font-family: Georgia, serif;
    width: inherit;
}

.article ul li h4{
    margin-bottom: 0;
}
.date{
    text-align: right;
}
.article ul li p{
    padding-bottom: 0.5em;
    padding-right: 0.5em;
}

#second div .side{
    background-color: transparent;
    width: 8%;
}
.content{
    width: 80%;
}

#third div .side{
    background-color: transparent;
    width: 8%;
}

#third div .article{
    width: 150%;
}

.who div .article h2{
    font-size: 250%;
    margin-bottom: 5%;
}

.who div .article p{
    margin:0
}
